<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Studo!</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% if site_key %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}
</head>

<div id="music-control">
  <button id="music-btn">🎵 play rain music</button>
  <audio id="bg-music" loop>
    <source src="{{ url_for('static', filename='sounds/rain.mp3') }}" type="audio/mpeg">
  </audio>
</div>

<script>
const musicBtn = document.getElementById('music-btn');
const music = document.getElementById('bg-music');

musicBtn.addEventListener('click', () => {
  if (music.paused) {
    music.play();
    musicBtn.textContent = '⏸ pause music';
  } else {
    music.pause();
    musicBtn.textContent = '🎵 play rain music';
  }
});
</script>

<body style="background: {{ chosen_bg if chosen_bg is defined else '#edf2f4' }};">
  <div class="app">
    <aside class="sidebar">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />
      </div>
      {% if session.get('user_id') %}
      <nav>
        <a href="{{ url_for('clock') }}" class="navlink">🕰️ &nbsp;&nbsp; Clock</a>
        <a href="{{ url_for('pomodoro') }}" class="navlink">🍎 &nbsp;&nbsp; Pomodoro</a>
        <a href="{{ url_for('timer') }}" class="navlink">⏳ &nbsp;&nbsp; Countdown</a>
      </nav>
      <div class="sidebar-bottom">
        <button id="open-music-settings" class="btn small">⚙️ Settings</button>
        <button id="open-site-settings" class="btn small">📋 Feedback</button>
        <a href="{{ url_for('logout') }}" class="btn small">➜] Log Out</a>
      </div>
      {% endif %}
    </aside>

    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <div id="popup-container"></div>

  <script>
    window.USER = {
      first_name: "{{ first_name if first_name is defined else '' }}",
      user_id: "{{ session.get('user_id','') }}"
    };
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
</body>
</html>

