{% extends "layout.html" %}
{% block content %}
<div class="center-card">
  <h3>countdown</h3>

  <div class="timer-inputs">
    <label>minutes <input id="timer-min" type="number" value="21" min="0"></label>
    <label>seconds <input id="timer-sec" type="number" value="0" min="0" max="59"></label>
  </div>

  <div class="time-large" id="countdown-time">00:21:00</div>
  <div class="pom-buttons">
    <button id="timer-start" class="btn">start/stop</button>
    <button id="timer-reset" class="btn">reset</button>
  </div>

  <audio id="timer-alarm" src="{{ url_for('static', filename='sounds/' + chosen_alarm) }}"></audio>
  <audio id="timer-bgm" src="{{ url_for('static', filename='sounds/' + chosen_bgm) }}" loop></audio>
</div>
{% endblock %}
